<section class="container">
  <form #weatherForm="ngForm" (ngSubmit)="submit()" class="weather-form">
    <input type="text" name="place" ngModel placeholder="Enter a place">
    <button type="submit">Submit</button>
  </form>
  <div class="upper-data">
    @if ( weather.main.temp > 15) {
    <img src="../assets/hot.jpg" alt="">
    } @else {
    <img src="../assets/cold.jpg" alt="">
    }
    <span>
      <h2>{{ weather.name }}</h2>
      <h2>{{ weather.main.temp | number: '1.0-0' }} °C</h2>
    </span>
  </div>
  <div class="lower-data">
    <div class="flex">
      <div class="box flex">
        <img src="../assets/temperature.png" alt="cold">
        <p>{{ weather.main.temp_min }}°C</p>
      </div>
      <div class="box flex">
        <img src="../assets/hot.png" alt="hot">
        <p>{{ weather.main.temp_max }}°C</p>
      </div>
    </div>
    <div class="flex">
      <div class="box flex">
        <img src="../assets/wind.png" alt="wind">
        <p>{{ weather.wind.speed }} km/h</p>
      </div>
      <div class="box flex">
        <img src="../assets/humidity.png" alt="rain">
        <p>{{ weather.main.humidity }}%</p>
      </div>
    </div>
  </div>
</section>